<div class="page">
  <div class="page__title">
    Записаться на прием к врачу
  </div>
  <div class="page__content">
    Выберите врача и удобное время для посещения поликлиники.

    <form style="display: flex; flex-direction: column">
      <div class="form-field">
        <div class="form-field__control-container">
          Специализация врача:
          <select>
            <option>Любая</option>
            <option>Терапевт</option>
            <option>Травмотолог</option>
            <option>Хирург</option>
          </select>
        </div>

        <div class="form-field__hint">
          Выберите "Любая", если знаете только имя врача.
          Будет показан список всех врачей поликлиники.
        </div>
      </div>

      <div class="form-field">
        <div class="form-field__control-container">
          Врач:
          <select>
            <option>Лечилов Александр Георгиевич</option>
            <option>Кромсалов Ганнибал Лекторович</option>
            <option>Калеченко Георгий Сигизмундович</option>
          </select>
        </div>
      </div>

      <div class="form-field">
        <div class="form-field__control-container">
          Дата и время приема:
          <input type="datetime-local" />
        </div>

        <div class="form-field__hint">
          Если ячейка календаря выделена серым цветом, значит это выходной день,
          талоны закончились или врач не принимиает в выбранное время.
          <br/><br/>
          <a routerLink="support">Напишите нам</a>, если считаете, что время недоступно по ошибке.
        </div>
      </div>

      <div class="form-field" style="width: 100%">
        <button class="medium"
                type="submit"
                style="width: 250px"
        >
          Записаться на прием
        </button>
        <div class="info">
          Будет зарегистрирован электронный талон, который сохранится в Вашем
          личном кабинете.
        </div>
      </div>
    </form>
  </div>
</div>
