<ngx-spinner></ngx-spinner>

<div class="page">
  <div class="page__title">
    Записаться на прием к врачу
  </div>
  <div class="page__content">
    Выберите врача и удобное время для посещения поликлиники.

    <form style="display: flex; flex-direction: column"
          [formGroup]="form"
          (ngSubmit)="onCreateTicket()"
    >
      <div class="form-field">
        <div class="form-field__control-container">
          <div class="form-field__label_required">
            Специализация врача:
          </div>
          <select formControlName="specialization"
                  (change)="onSelectSpecialization($event)"
          >
            <option *ngFor="let specialization of specializations"
                    [value]="specialization.name"
            >{{specialization.name}}</option>
          </select>
        </div>

        <div class="form-field__hint">
          Выберите "Любая", если знаете только имя врача.
          Будет показан список всех врачей поликлиники.
        </div>
      </div>

      <div class="form-field">
        <div class="form-field__control-container">
          <div class="form-field__label_required">
            Врач:
          </div>
          <select formControlName="doctor"
                  (change)="onSelectDoctor($event)"
          >
            <option *ngFor="let doctor of doctors"
                    [value]="doctor.id"
            >
              {{doctor.lastName + ' ' + doctor.firstName + ' ' + (doctor.middleName ? doctor.middleName : '')}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-field">
        <div class="form-field__control-container">
          <div class="form-field__label_required">
            Дата и время приема:
          </div>
          <div class="dp-date-wrapper">
            <div class="dp-date-input-container">
              <div class="dp-form-item">
                <dp-date-picker id="picker"
                                [config]="config"
                                [mode]="'daytime'"
                                [theme]="material ? 'dp-material dp-main' : 'dp-main'"
                                [displayDate]="displayDate"
                                [placeholder]="placeholder"
                                [formControlName]="'dateTime'"
                                [minDate]="minDate"
                                [maxDate]="maxDate"
                                [minTime]="minTime"
                                [maxTime]="maxTime"
                ></dp-date-picker>
              </div>
            </div>
          </div>
        </div>

        <div class="form-field__hint">
          Если ячейка календаря выделена серым цветом, значит это выходной день,
          талоны закончились или врач не принимиает в выбранное время.
        </div>
      </div>

      <div class="form-field" style="width: 100%">
        <button class="button medium"
                type="submit"
                style="width: 250px"
        >
          Записаться на прием
        </button>
        <div class="info">
          Будет зарегистрирован электронный талон, который сохранится в Вашем
          личном кабинете.
        </div>
      </div>
    </form>
  </div>
</div>
