<div class="page">
  <div class="page__title">
    Регистрация
  </div>
  <div class="page__content">
    <form style="display: flex; flex-direction: column"
          [formGroup]="registerForm"
          (ngSubmit)="onRegister()"
    >
      <div class="form-field">
        <div class="form-field__control-container">
          <div class="form-field__label_required">
            Мобильный телефон:
          </div>
          <input type="tel"
                 placeholder="+79001112233"
                 formControlName="phone"
          />
        </div>

        <div class="form-field__hint">
          Будет Вашим логином в системе.
        </div>
      </div>

      <div class="form-field">
        <div class="form-field__control-container">
          <div class="form-field__label_required">
            Пароль:
          </div>
          <input type="password"
                 placeholder="Пароль"
                 formControlName="password"
          />
        </div>
      </div>

      <div class="form-field">
        <div class="form-field__control-container">
          <div class="form-field__label_required">
            Еще раз пароль:
          </div>
          <input type="password"
                 placeholder="Повторите пароль"
                 formControlName="verifyPassword"
          />
        </div>
      </div>

      <div class="form-field">
        <div class="form-field__control-container">
          <div class="form-field__label">
            Контактный e-mail:
          </div>
          <input type="email"
                 placeholder="bigboss777@krutoemylo.ru"
                 formControlName="email"
          />
        </div>

        <div class="form-field__hint">
          Мы будем присылать только важную информацию.
        </div>
      </div>

      <div class="form-field">
        <div class="form-field__control-container">
          <div class="form-field__label_required">
            Фамилия:
          </div>
          <input type="text"
                 placeholder="Иванов"
                 formControlName="lastName"
          />
        </div>
      </div>

      <div class="form-field">
        <div class="form-field__control-container">
          <div class="form-field__label_required">
            Имя:
          </div>
          <input type="text"
                 placeholder="Иван"
                 formControlName="firstName"
          />
        </div>
      </div>

      <div class="form-field">
        <div class="form-field__control-container">
          <div class="form-field__label">
            Отчество:
          </div>
          <input type="text"
                 placeholder="Иванович"
                 formControlName="middleName"
          />
        </div>

        <div class="form-field__hint">
          Если есть отчество.
        </div>
      </div>

      <div class="form-field">
        <div class="form-field__control-container">
          <div class="form-field__label_required">
            Дата рождения:
          </div>
          <input type="date"
                 formControlName="birthday"
          />
        </div>
      </div>

      <div class="form-field">
        <div class="form-field__control-container">
          <div class="form-field__label_required">
            Полис ОМС:
          </div>
          <input type="text"
                 placeholder="0123456789012345"
                 formControlName="insurancePolicyNumber"
          />
        </div>

        <div class="form-field__hint">
          Состоит из <b>16 цифр</b>, без пробелов и дефисов.
          <br/>
          В старых полисах (до 1.08.12) - на обратной стороне.
          <br/>
          В новых полисах - на лицевой.
        </div>
      </div>

      <div class="form-field" style="width: 100%">
        <button class="button medium"
                type="submit"
                style="width: 250px"
        >Зарегистрироваться</button>
        <div class="info">
          Нажимая на кнопку "Зарегистрироваться", Вы разрешаете поликлинике
          обрабатывать Ваши персональные данные в соответствии с законом и
          нашим <a href="#">соглашением о персональных данных</a>.
        </div>
      </div>
    </form>
  </div>
</div>
