<div style="text-align: center; font-size: 40pt; margin: 50px;">
  Мы знаем, зачем Вы пришли
</div>

<div style="margin:50px;font-size: 14pt; color: gray; text-align: center">
  <ng-container *ngIf="userMessage; else unauthorizedUser">
    {{userMessage}}, нажмите на эту большую кнопку, чтобы записаться на прием
  </ng-container>
  <ng-template #unauthorizedUser>
    Нажмите на эту большую кнопку, чтобы записаться на прием
  </ng-template>
</div>

<div style="text-align: center">
  <button class="big-orange-button"
          routerLink="tickets/create"
  >
    Записаться на прием
  </button>
</div>
