<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title"
    >{{popupTitle}}</h4>
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="onClose(modal, 'reject')"
    >
      &times;
    </button>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <!-- custom buttons -->
    <ng-container *ngFor="let customButton of customButtons">
      <button class="btn btn-primary"
              (click)="customButton.onClick(customButton.onClickParams)"
      >{{customButton.title}}</button>
    </ng-container>
    <!-------------------->

    <ng-container [ngSwitch]="type">
      <!-- info window -->
      <ng-container *ngSwitchCase="'info'">
        <button type="button" class="btn btn-dark"
                (click)="onClose(modal, 'reject')"
        >Закрыть</button>
      </ng-container>
      <!-- confirm window -->
      <ng-container *ngSwitchCase="'confirm'">
        <button type="button" class="btn btn-danger"
                (click)="onClose(modal, 'approve')"
        >Хорошо</button>
        <button type="button" class="btn btn-primary"
                (click)="onClose(modal, 'reject')"
        >Передумал</button>
      </ng-container>
    </ng-container>
  </div>
</ng-template>

<button class="button medium"
        [ngClass]="styles"
        (click)="open(content)"
>{{buttonTitle}}</button>
