<div class="header">
  <div class="header__title-block">
    <span class="header__title-block_title">
      <span class="header__title-block_title">
        <b class="logo_blue">мед</b>
        <b class="logo_red">услуги</b>
      </span>
    </span>
  </div>

  <div class="header__menu-block">
    <div class="header__menu-block_item"
         routerLink=""
    >Главная</div>
    <div class="header__menu-block_item"
         routerLink="help"
    >Вопросы и ответы</div>

    <ng-container *ngIf="this.authenticationService.isAuthenticated(); else unauthorizedUserMenu">
      <div class="header__menu-block_item"
           routerLink="profile"
      >Мой личный кабинет
      </div>
      <div class="header__menu-block_item"
           routerLink="logout"
      >Выйти</div>
    </ng-container>
    <ng-template #unauthorizedUserMenu>
      <div class="header__menu-block_item"
           routerLink="login"
      >Войти</div>
    </ng-template>
  </div>
</div>

<router-outlet></router-outlet>
