<div class="container">
  <div class="container__title">
    Вход в систему
  </div>
  <div class="container__login-form">
    <ng-container *ngIf="authenticationResult">
      <div class="message"
           [ngClass]="authenticationResult.status"
      >
        {{authenticationResult.message}}
      </div>
    </ng-container>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <input type="text"
             formControlName="login"
             placeholder="Логин"
      />
      <input type="password"
             formControlName="password"
             placeholder="Пароль"
      >
      <button type="submit"
              [disabled]="!loginForm.valid"
      >
        Войти
      </button>
    </form>
  </div>
</div>
