<div class="page">
  <div class="page__title">
    Личный кабинет
  </div>
  <div class="page__content">
    <div class="tabs">
      <div class="tab"
           [ngClass]="selectedTab === 'main' ? 'selected' : ''"
           (click)="onTabClick('main')"
      >
        Основные данные
      </div>
      <div class="tab"
           [ngClass]="selectedTab === 'tickets' ? 'selected' : ''"
           (click)="onTabClick('tickets')"
      >
        Талоны
      </div>
    </div>

    <ng-container [ngSwitch]="selectedTab">
      <ng-container *ngSwitchCase="'main'">
        <ng-content *ngTemplateOutlet="main"></ng-content>
      </ng-container>
      <ng-container *ngSwitchCase="'tickets'">
        <ng-content *ngTemplateOutlet="tickets"></ng-content>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #main>
  <ng-container [ngSwitch]="currentUser.role">
    Вы вошли как
    <ng-container *ngSwitchCase="'PATIENT'">
      <b>пациент</b>
    </ng-container>
    <ng-container *ngSwitchCase="'DOCTOR'">
      <b>врач</b>
    </ng-container>
    <ng-container *ngSwitchCase="'ADMIN'">
      <b>администратор</b>
    </ng-container>
  </ng-container>

  <div style="display: flex; margin:25px 0;">
    <!-- avatar -->
    <div style="display: flex; flex-direction: column;text-align: center">
      <img src="https://sun9-21.userapi.com/c849028/v849028742/163975/Xx9_qlxiDng.jpg"
           style="width: 140px; border-radius: 10px"
           alt="Фото профиля"
      />
    </div>
    <!-- main data -->
    <div style="display: flex; flex-direction: column; margin-left: 25px;">
      <data-field [name]="'Фамилия, имя, отчество'"
                  [value]="getCurrentUserName()"
      ></data-field>

      <ng-container [ngSwitch]="currentUser.role">
        <!-- for doctor -->
        <ng-container *ngSwitchCase="'DOCTOR'">
          <data-field [name]="'Специализация'"
                      [value]="currentUser.specialization"
          ></data-field>
          <data-field [name]="'Кабинет'"
                      [value]="currentUser.cabinet.name"
          ></data-field>
        </ng-container>
        <!-- for patient -->
        <ng-container *ngSwitchCase="'PATIENT'">
          <data-field [name]="'Дата рождения'"
                      [value]="currentUser.birthday"
          ></data-field>
          <data-field [name]="'Полис ОМС'"
                      [value]="currentUser.insurancePolicyNumber"
          ></data-field>
          <data-field [name]="'Адрес регистрации'"
                      [value]="currentUser.registrationAddress"
          ></data-field>
        </ng-container>

      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #tickets>
  <div>
    Талоны, который оформил пациент или получил врач.
    <button class="button medium"
            style="width: 250px; margin-left: 20px"
            routerLink="/tickets/create"
    >Записаться на прием
    </button>
  </div>

  <div class="tickets">
    <div *ngFor="let ticket of patientTicketsList"
         class="ticket"
    >
      <div class="ticket__header">
        Талон № {{ticket.id}}
      </div>
      <div class="ticket__content">
        <div class="data">
          <data-field [name]="'Пациент'"
                      [value]="[ticket.patient.lastName, ticket.patient.firstName, ticket.patient.middleName || ''].join(' ')"
          ></data-field>
          <data-field [name]="'Время приема'"
                      [value]="ticket.datetime"
          ></data-field>
          <data-field [name]="'Врач'"
                      [value]="[ticket.doctor.lastName, ticket.doctor.firstName, ticket.doctor.middleName || ''].join(' ')"
          ></data-field>
          <data-field [name]="'Кабинет'"
                      [value]="ticket.doctor.cabinet.name"
          ></data-field>
          <data-field [name]="'Специализация'"
                      [value]="ticket.doctor.specialization.name"
          ></data-field>
          <data-field [name]="'Полис ОМС пациента'"
                      [value]="ticket.patient.insurancePolicyNumber"
          ></data-field>
        </div>

        <div class="controls">
          <ng-container [ngSwitch]="currentUser.role">
            <ng-container *ngSwitchCase="'PATIENT'">
              <popup *ngIf="ticket.prescriptions"
                     [popupTitle]="'Мои назначения'"
                     [buttonTitle]="'Мои назначения'"
                     [styles]="'outline available-width'"
              >
                {{ticket.prescriptions}}
              </popup>
              <popup [popupTitle]="'Изменить время приема'"
                     [buttonTitle]="'Изменить время приема'"
                     [styles]="'available-width'"
              >
                <!-- time -->
                <div style="display: flex; flex-direction: column">
                  Введите другое время приема:
                  <input type="datetime-local"/>

                  <div style="color: gray;margin:10px 0;">
                    Если ячейка календаря выделена серым цветом, значит это выходной день,
                    талоны закончились или врач не принимиает в выбранное время.
                    <br/><br/>
                    <a routerLink="support">Напишите нам</a>, если считаете, что время недоступно по ошибке.
                  </div>
                </div>
                <!---------->
              </popup>
              <popup [popupTitle]="'Отменить талон?'"
                     [buttonTitle]="'Отменить талон'"
                     [styles]="'reject-button available-width'"
                     [type]="'confirm'"
              >
                Вы действительно хотите отменить талон?
              </popup>
            </ng-container>
            <ng-container *ngSwitchCase="'DOCTOR'">
              <popup [popupTitle]="'Добавить назначения для пациента'"
                     [buttonTitle]="ticket.prescriptions ? 'Назначения' : 'Добавить назначения'"
                     [styles]="'outline available-width'"
                     [customButtons]="ticket.prescriptions ? [] : [savePrescriptionButton]"
              >
                <ng-container *ngIf="ticket.prescriptions; then readonlyPrescriptions else editablePrescriptions"
                ></ng-container>
                <ng-template #readonlyPrescriptions>
                  {{ticket.prescriptions}}
                </ng-template>
                <ng-template #editablePrescriptions>
                  <form [formGroup]="prescriptionsForm"
                        (ngSubmit)="onSavePrescriptions(ticket)"
                  >
                    <label style="width: 100%;">
                      Введите назначения:
                      <textarea class="input-control"
                                style="width: 100%; height: 200px;"
                                placeholder="Например, не употреблять в пищу жирное и жареное 3 месяца."
                                [formControlName]="'prescriptions'"
                      ></textarea>
                    </label>
                  </form>
                </ng-template>

                <div style="color: red; margin: 10px 0;">
                  Внимание! Назначения невозможно отредактировать после сохранения.
                </div>
              </popup>
              <popup [popupTitle]="'Изменить время приема'"
                     [buttonTitle]="'Изменить время приема'"
                     [styles]="'available-width'"
              >
                <!-- time -->
                <form [formGroup]="dateTimeForm"
                      (ngSubmit)="onSaveDateTime(ticket)"
                >
                  <div style="display: flex; flex-direction: column">
                    Введите другое время приема:
                    <div class="dp-date-wrapper">
                      <div class="dp-date-input-container">
                        <div class="dp-form-item">
                          <dp-date-picker id="picker"
                                          [config]="config"
                                          [mode]="'daytime'"
                                          [theme]="material ? 'dp-material dp-main' : 'dp-main'"
                                          [displayDate]="displayDate"
                                          [placeholder]="placeholder"
                                          [formControlName]="'dateTime'"
                          ></dp-date-picker>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>

                <div style="color: gray;margin:10px 0;">
                  Если ячейка календаря выделена серым цветом, значит это выходной день,
                  талоны закончились или врач не принимиает в выбранное время.
                  <br/><br/>
                  <a routerLink="support">Напишите нам</a>, если считаете, что время недоступно по ошибке.
                </div>
                <!---------->
              </popup>
              <popup [popupTitle]="'Отменить талон?'"
                     [buttonTitle]="'Отменить талон'"
                     [styles]="'reject-button available-width'"
                     [type]="'confirm'"
                     (onConfirm)="onCancelTicket($event)"
              >
                Вы действительно хотите отменить талон?
              </popup>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>
